<%= button_to 'Add Student', new_student_path, method: :get %>
<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.fullname %></td>
        <td><%= student.email %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>