<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Admin?</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.fullname %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.admin? %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>