<h1>Dashboard</h1>

<% if student_signed_in? %>
  <p>I'm a Student and I do not see anything here yet</p>
<% end %>

<% if teacher_signed_in? %>
  <% unless current_teacher.admin? %>
    <p>I'm a non Admin Teacher and I do not see anything here yet</p>
  <% else %>
    <h3>Teachers</h3>
    <%= render 'teachers' %>
    <hr>
    <h3>Students</h3>
    <%= render 'students' %>
  <% end %>

<% end %>